body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none; /* нет маркера у списка */
}
.container {
  width: 1140px;
  margin: 0 auto;
}
/* стили хэдэра */
.header-top {
  border-bottom: 1px solid #dedede;
}
.header-top-info {
  display: flex;
  justify-content: space-between;
  height: 67px;
  align-items: center;
}
.top-menu {
  display: flex;
  width: 945px;
  justify-content: space-between;
}
.top-menu-left,
.top-menu-right {
  display: flex;
  justify-content: space-between;
}
.top-menu-left a,
.top-menu-right a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #424242;
}
.top-menu-left {
  width: 352px;
}
.top-menu-right {
  width: 340px;
}
.main-menu-list {
    display: flex;
    justify-content: space-between;
    height: 73px;
    align-items: center;

}
.main-menu-list a{
    text-decoration: none;
    font-size: 16px;
    color:#424242;
    align-items: center;
    font-weight: 500;

}
/* стили баннер */ 
.banner-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-info-offer btn {
  display: flex;
  justify-content:space-between;
  text-align: center;
  font-size: 16px;
  
  }
.btn {
  border: 1px solid #3A95FF;
  text-decoration: none;
  line-height: 70px;
  font-weight: 600;
}
.btn-pimary {
  background-color: #3A95FF;
  color: white;
  padding: 17px 26px;
}
.btn-secondary {
  padding: 17px 51px;
  margin-left: 37px;
  
}
h1 {
  font-size: 52px;
}
h1 a {
  color: #3A95FF;
}

/* Персональные предложения*/

.offers {
  display: flex;
  justify-content: space-between;
   flex: 4;
  flex-wrap: wrap;
  }

.pr {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  width: calc(50% - 30px);
  box-sizing: border-box;
}
.offers p {
   font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #424242;
}
.offers h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
}
.offer-info h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
}
.offer-info p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}